@use "../../assets/scss/breakpoints" as *;

.site-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--tertiary-color), 1);

  &__inner {
    max-width: 1800px;
    width: 95%;
    padding: 50px 0;
    margin: 0 auto;
    display: flex;
    @media (min-width: $ldpi) {
      padding: 80px 0;
    }
  }

  &__copy {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    p,
    span,
    a {
      font-size: 1.4rem;
      color: rgba(var(--primary-color), 1);
      text-align: center;
    }
  }

  .cols {
    width: 100%;
    height: 100%;
    padding: 0 50px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20rem;
    row-gap: 3rem;

    .col {
      min-width: 280px;
      display: flex;
      align-self: flex-start;
      justify-content: center;
      flex: 1 0 calc(60% - 10rem);

      .title {
        font-family: var(--adore);
        font-size: 8.5rem;
        font-weight: 700;
        line-height: 1.5;
        color: rgba(var(--secondary-color), 1);

        @media (max-width: 1023px) {
          font-size: 3.6rem;
        }
      }

      .name {
        margin-bottom: 15px;
        font-weight: bold;
      }

      p,
      a,
      span {
        font-size: 1.6rem;
        color: rgba(var(--secondary-color), 1);
      }

      a {
        text-decoration: underline;
        &:hover {
          color: rgba(var(--light-grey), 1);
        }
      }

      &:last-child {
        padding: 1.5rem 0 0 0;
        flex: calc(40% - 10rem);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 3rem;

        .menus,
        .locations {
          width: 100%;
          flex-direction: column;
          gap: 2rem;

          .location {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
        }
      }

      .social-networks {
        width: 100%;
        margin-bottom: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        li {
          width: 32px;
          height: 32px;
          display: flex;

          a {
            svg {
              width: 100%;
              height: 100%;
              color: rgba(var(--secondary-color), 1);
              fill: rgba(var(--secondary-color), 1);
              stroke: rgba(var(--secondary-color), 1);
              transition: .3s ease;
            }

            &:hover {
              svg {
                color: rgba(var(--primary-color), 1);
                fill: rgba(var(--primary-color), 1);
                stroke: rgba(var(--primary-color), 1);
              }
            }
          }
        }
      }
    }
  }
}
