@use "../../assets/scss/breakpoints" as *;

.block-contact {
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(var(--secondary-color), 1);

  @media (min-width: $ldpi) {
    padding: 120px 0;
  }

  .block__inner {
    max-width: 1800px;
    width: 95%;
    margin: 0 auto;
    display: flex;
  }

  .cols {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 14rem;
    row-gap: 3rem;

    .col {
      min-width: 280px;
      display: flex;
      align-self: flex-start;
      justify-content: center;
      flex: 1 0 calc(50% - 7rem);

      &:first-child {
        flex-direction: column;
        gap: 30px;
      }

      .block-title {
        font-family: var(--adore);
        font-size: 6.8rem;
        font-weight: 700;
        line-height: 1.2;
        color: rgba(var(--light-grey), 1);

        @media (max-width: 1023px) {
          font-size: 36px;
        }
      }

      .contact {
        font-family: var(--montserrat);
        font-size: 2.2rem;
        line-height: 1.2;
        color: rgb(var(--light-grey));
        text-decoration: underline;

        &:hover {
          color: rgb(var(--primary-color));
        }
      }

      .heading,
      .heading a {
        font-family: var(--montserrat);
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 3rem;
        color: rgba(var(--text-color), 1);
      }

      .form {
        width: 100%;
        display: flex;
      }

      .wpforms-container {
        width: 100%;
        .wpforms-form {
          width: 100%;
          .wpforms-field-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;

            select,
            option,
            input,
            textarea {
              max-width: 100%;
              padding: 18px 0;
              font-family: var(--montserrat);
              font-size: 1.6rem;
              line-height: 3rem;
              color: rgb(var(--light-grey));
              border-bottom: 1px solid rgb(var(--light-grey));
              border-radius: 0;

              &::placeholder {
                color: rgb(var(--primary-color));
              }

              &:focus,
              &:active {
                outline: 1px solid rgb(var(--light-grey));
              }
            }

            option {
              background-color: rgb(var(--secondary-color));
              border: none;

              &:focus,
              &:hover {
                background-color: rgb(var(--tertiary-color));
                outline: none;
              }
            }

            .wpforms-field-label {
              margin-bottom: 10px;
              color: rgb(var(--light-grey));
            }

            .wpforms-field {
              max-width: 100%;
              width: 100%;
              padding: 0 0;

              &.wpforms-field-name {
                .wpforms-field-row,
                fieldset {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  flex-wrap: wrap;
                  .wpforms-field-row-block {
                    display: flex;
                    flex: 1 0 calc(50% - 10px);

                    input {
                      width: 100%;
                    }
                  }
                }
              }

              &.wpforms-field-checkbox {
                ul {
                  margin: 10px 0;
                  display: flex;
                  flex-wrap: wrap;
                  gap: 10px;

                  li {
                    width: fit-content;
                    height: fit-content;
                    padding: 5px 10px;
                    position: relative;
                    border: 1.5px solid rgb(var(--light-grey));
                    border-radius: 25px;
                    cursor: pointer;

                    &:hover,
                    &.wpforms-selected,
                    &:has(input:checked) {
                      background-color: rgb(var(--primary-color));
                    }

                    input {
                      width: 100%;
                      height: 100%;
                      margin: 0;
                      top: 0;
                      left: 0;
                      position: absolute;
                      z-index: 10;
                      opacity: 0;
                      cursor: pointer;
                    }

                    label {
                      position: relative;
                      z-index: 0;
                      font-size: 1.6rem;
                      color: rgb(var(--light-grey));
                    }
                  }
                }
              }

              fieldset {
                flex: 0 0 100%;
                display: flex;

                .wpforms-field-row {
                  max-width: 100%;
                  flex: 0 0 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  align-items: center;
                  gap: 20px;

                  &::after,
                  &::before {
                    content: none;
                  }

                  .wpforms-field-row-block {
                    width: 100%;
                    margin-bottom: 0;
                    padding: 0;
                  }
                }
              }
            }
          }
          .wpforms-submit-container {
            margin-top: 20px;
            [type="submit"] {
              appearance: none;
              padding: 16px 28px;
              background-color: rgb(var(--secondary-color));
              border: none;
              text-transform: capitalize;
              font-weight: normal;
              font-size: 2rem;
              color: #fff;
              cursor: pointer;

              &:hover {
                background-color: rgb(var(--primary-color));
              }
            }
          }
        }
      }
    }
  }
}
